# Production: Application service
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: message-service-app
    restart: unless-stopped
    ports:
      - "${APP_PORT}:8080"
    environment:
      # Application
      APP_PORT: 8080
      APP_URL: ${APP_URL}
      
      # Database
      POSTGRES_DB_HOST: psql
      POSTGRES_DB_PORT: 5432
      POSTGRES_DB_USERNAME: ${POSTGRES_DB_USERNAME}
      POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      
      # Redis
      REDIS_ENABLED: ${REDIS_ENABLED}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DB: ${REDIS_DB}
      
      # Message Sender
      MESSAGE_SENDER_INTERVAL: ${MESSAGE_SENDER_INTERVAL}
      MESSAGE_SENDER_BATCH_SIZE: ${MESSAGE_SENDER_BATCH_SIZE}
      
      # Webhook
      WEBHOOK_URL: ${WEBHOOK_URL}
      WEBHOOK_AUTH_KEY: ${WEBHOOK_AUTH_KEY}
    depends_on:
      psql:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
